* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  margin: 100px auto;
  width: 640;
  justify-items: center;
  align-items: center;
  gap: 30px;
}

.field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  outline: 1px solid;
  border-radius: 10px;
  padding: 10px;
  width: 130px;
  background-color: #fde9cf;
}

.value {
  font-size: 96px;
  color: #556677;
}

.label {
  font-size: 22px;
  font-weight: 300;
}